<div class="celyn-player-cover">
  {{md-icon "music note" inactive=true}}
</div>
<div class="celyn-player-track">
  <div class="celyn-player-name">Yesterdays</div>
  <div class="celyn-player-artist">Pennywise</div>
</div>
<div class="celyn-player-controls">
  {{md-icon "skip previous"}}
  {{md-icon (if isPlaying "pause" "play arrow")}}
  {{md-icon "skip next"}}
</div>
