{{#vertical-collection
  class = "track-list flex"
  items = tracks
  itemClassNames = "box primary"
  defaultHeight = 48
  alwaysRemeasure = true
  as |track|}}
  <div onclick={{route-action 'play' track tracks}}>
    <div>{{track.title}}</div>
    <div><small>{{track.artist}}</small></div>
  </div>
{{/vertical-collection}}
