@import 'variables';
@import 'layout';
@import 'components/md-icon';
@import 'components/button';
@import 'components/toolbar';
@import 'components/notification-bar';
@import 'components/celyn-player';
@import 'components/celyn-sync-state';

:root {
  font-family: Roboto, sans-serif;
  color: var(--color-text);

  background-color: var(--color-body);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.application-outlet {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.application-outlet > .liquid-child {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.celyn-footer {
  height: 54px;
  display: flex;
}

.celyn-footer:not(:empty) {
  z-index: 1;
  border-top: 1px solid var(--color-separator);
  box-shadow: 0 -1px 5px 0 rgba(28, 28, 28, .2),
              0 -2px 2px 0 rgba(28, 28, 28, .14),
              0 -3px 1px -2px rgba(28, 28, 28, .12);
}

body > .ember-view {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.box {
  padding: 0.25rem;
  background-color: var(--color-content);
  border: 1px solid var(--color-separator);
  border-bottom: none;
}

.box:last-child {
  border-bottom: 1px solid var(--color-separator);
}

.track-list > :last-child {
  margin-bottom: 1rem;
}
