@import 'variables';
@import 'components/md-icon';
@import 'components/button';
@import 'components/toolbar';

:root {
  font-family: Roboto, sans-serif;
  color: var(--color-text);

  background-color: var(--color-body);
}

body {
  margin: 0;
}

main {
  margin: 0 1rem;
}

body > .ember-view {
  display: flex;
  flex-direction: column;
}

.box {
  height: 50px;
  margin: 5px;
  background: white;
  border: 1px solid var(--color-separator);
}

.primary {
  background-color: var(--color-primary);
}

.secondary {
  background-color: var(--color-secondary);
}

.danger {
  background-color: var(--color-danger);
}

.warning {
  background-color: var(--color-warning);
}

.content {
  background-color: var(--color-content);
}

.separator {
  background-color: var(--color-separator);
}
