{{#vertical-collection
  class = "track-list"
  content = model
  defaultHeight = 48
  alwaysRemeasure = true
  as |track|}}
  <div class="box primary">
    <div>{{track.title}}</div>
    <div><small>{{track.artist}}</small></div>
  </div>
{{/vertical-collection}}
