{{#vertical-collection
  class = "track-list flex"
  items = (sort-by 'artist' 'album' 'title' model)
  itemClassNames = "box primary"
  defaultHeight = 48
  alwaysRemeasure = true
  as |track|}}
  <div>{{track.title}}</div>
  <div><small>{{track.artist}}</small></div>
{{/vertical-collection}}
